<div class="top-wrap">
	<a href="/admin/">管理首页</a>
	<a href="/admin/banners">banenr设置</a>
	<a href="/admin/blog">blog设置</a>
	<a href="/admin/article">文章设置</a>
	<a href="/admin/custom">用户评价</a>
	<a href="/admin/intro">产品介绍</a>
</div>