<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>芒果很黄后台管理系统</title>	
		<link rel="stylesheet" type="text/css" href="../../static/css/login.css"/>
		
	</head>
	<body>
		<canvas id="mycanvas"></canvas>
		<div class="box">
			<div class="login-dialog">
				<h2 class="title">芒果很黄后台管理系统</h2>
				<form action="/admin/login" method="post">
					<h3>Login</h3>
					用户:<input class="user" type="text" name="username"/><br>
					密码:<input class="pwd" type="password" name="password"/><br/>
					<input class="btn" type="submit" value="登录" />
				</form>
			</div>
		</div>
			
	</body>
	<script src="../../static/js/canvas.js"></script>
</html>